streamlit
scipy
numpy
matplotlib
opencv-python-headless
torch
torchvision
tqdm
Pillow
h5py
streamlit_option_menu
pip3 install tempfile -i http://pypi.douban.com/simple/ --trusted-host pypi.douban.com
